.hero {
  .title-page {
    margin-bottom: 56px;
  }
}
.title-page {
  font-family: $uni;
  font-weight: $bold;
  font-size: 48px;
  color: $white;
}

.title-section {
  font-family: $uni;
  font-weight: $bold;
  font-size: 36px;
  color: $white;
  margin-bottom: 24px;
}

.dark-title {
  color: $black;
}

.title-list-footer {
  font-family: $uni;
  font-weight: $bold;
  font-size: 20px;
  color: $white;
  margin-bottom: 16px;
}

.title-col-footer {
  font-family: $uni;
  font-weight: $bold;
  font-size: 20px;
  color: $white;
  line-height: 150%;
}