.hero {
  background: url("../../img/header/bg.jpg") no-repeat center center ;
  background-size: cover;
  padding-bottom: 99px;
  &-content {
    .search-form {
      .checkbox-form {
        margin-bottom: 33px;
        .form-check-label {
          font-family: $uni;
          font-weight: $bold;
          font-size: 18px;
          margin-left: 24px;
          color: $white;
        }
      }
      .card:first-child {
        &-body {
          position: relative;
        }
      }
      .card:nth-child(2) {
        &-body {
          position: relative;
          z-index: 9998;
        }
      }
      .card {
        &-body {
          .form-label {
            font-family: $uni;
            font-weight: $regular;
            font-size: 18px;
            color: $black;
          }
          .form-control {
            padding-left: 0;
            padding-right: 0;
            font-family: $uniBook;
            font-weight: $regular;
            font-size: 18px;
            color: #B5BDDB;
            border: none;
            outline: none !important;
          }
          .count-passenger {
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            input[type=number] {
              -moz-appearance: textfield;
            }
            .form-control {
              width: 20px;
            }
            .count-button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              border-radius: 5px;
              background-color: $blue-active;
              color: $white;
              border: 1px solid $blue-active;
              cursor: pointer;
            }
            .disabled {
              background-color: #F8FAFC;
              border: 1px solid #F8FAFC;
              color: #c0c0c0;
              cursor: auto;
            }
          }
          .card-example {
            .today-date-toggle {
              cursor: pointer;
            }
            .tomorrow-date-toggle {
              cursor: pointer;
            }
          }
        }
        .swiper-inputs {
          background-color: $blue-active;
          width: 64px;
          height: 64px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 30px;
          right: -46px;
          z-index: 9999;
          cursor: pointer;
          @media screen and (max-width: 767px) {
            right: 0;
            bottom: -40px;
          }
          &-icon {
            background: url("../../img/hero/arrows.svg") no-repeat;
            width: 33px;
            height: 24px;
          }
        }
      }
      .btn {
        font-family: $uni;
        font-weight: $regular;
        font-size: 24px;
        padding: 23px 65px;
        border-radius: 15px;
        border: none;
        margin-top: 40px;
        color: $white;
        background-color: $blue-active;
      }
      .btn-disabled {
        background-color: #A3D7FF;
      }
    }
  }
}

.popular-directions {
  padding-top: 72px;

  .card-directions:first-child {
    margin-right: 16px;
  }

  .card-city-direction {
    .card-body {
      &-city {
        &-title {
          font-family: $uni;
          font-weight: $regular;
          font-size: 18px;
          color: $black;
          margin-bottom: 12px;
        }
        &-value {
          display: block;
          font-family: $uni;
          font-weight: $bold;
          font-size: 24px;
          color: $black;
        }
      }
      &-price {
        &-title {
          font-family: $uni;
          font-weight: $regular;
          font-size: 18px;
          color: $black;
          margin-bottom: 12px;
        }
        &-value {
          display: block;
          font-family: $uni;
          font-weight: $bold;
          font-size: 24px;
          color: $black;
        }
      }
    }
  }
  .card-city-direction:hover {
    background-color: #F2F7FF;
  }

  .card-directions {
    width: 100%;
    .card-title {
      font-family: $uni;
      font-weight: $regular;
      font-size: 18px;
      color: $black;
      text-align: center;
      margin-bottom: 12px;
    }
    .card-value {
      display: block;
      font-family: $uni;
      font-weight: $bold;
      font-size: 24px;
      color: $black;
      text-align: center;
    }
  }
}

.registration-hero {
  background: url("../../img/hero/bg-reg.png") no-repeat center center;
  background-size: cover;
  margin-top: 90px;
  padding-top: 72px;
  padding-bottom: 72px;
  .desc-section {
    font-family: $uni;
    font-weight: $regular;
    font-size: 18px;
    color: $white;
    margin-bottom: 0;
  }
  &-button {
    font-family: $uni;
    font-weight: $regular;
    font-size: 24px;
    padding: 23px 65px;
    border-radius: 15px;
    border: none;
    background-color: $blue-active;
    color: $white;
    text-decoration: none;
    @media screen and (max-width: 440px) {
      padding: 23px 32px;
    }
  }
  &-button:hover {
    background-color: $blue-color;
    color: $white;
  }
}