.hero {
  background: url("../../img/header/bg.jpg") no-repeat center center ;
  background-size: cover;
  &-content {
    .search-form {
      .checkbox-form {
        margin-bottom: 33px;
        .form-check-label {
          font-family: $uni;
          font-weight: $bold;
          font-size: 18px;
          margin-left: 24px;
          color: $white;
        }
      }
      .card:first-child {
        &-body {
          position: relative;
        }
      }
      .card:nth-child(2) {
        &-body {
          position: relative;
          z-index: 9998;
        }
      }
      .card {
        &-body {
          .count-passenger {
            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }

            /* Firefox */
            input[type=number] {
              -moz-appearance: textfield;
            }
            .form-control {
              width: 50px;
            }
            .count-button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              border-radius: 5px;
              background-color: $blue-active;
              color: $white;
              border: 1px solid $blue-active;
            }
            .disabled {
              background-color: #F8FAFC;
              border: 1px solid #F8FAFC;
              color: #c0c0c0;
            }
          }
        }
        .swiper-inputs {
          background-color: $blue-active;
          width: 64px;
          height: 64px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          bottom: 30px;
          right: -46px;
          z-index: 9999;
          &-icon {
            background: url("../../img/hero/arrows.svg") no-repeat;
            width: 33px;
            height: 24px;
          }
        }
      }
    }
  }
}