.hero {
  background: url("../../img/header/bg.jpg") no-repeat center center ;
  background-size: cover;
  &-content {
    .search-form {
      .form-check-label {
        font-family: $uni;
        font-weight: $bold;
        font-size: 18px;
        margin-left: 24px;
        color: $white;
      }
    }
  }
}