<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-xl-4">
                <div class="logo-footer d-flex flex-wrap w-100">
                    <a href="#" class="logo-link d-block">
                        <img class="logo" alt="logo-footer" src="img/header/logo.png">
                    </a>
                    <span class="call-free d-block w-100">
                        Звонок по России бесплатный
                    </span>
                    <a class="call-free-number" href="tel:88007002099">
                        8 (800) 700 - 20 - 99
                    </a>
                </div>
            </div>
            <div class="col col-xl">
                <div class="row">
                    <div class="col">
                        <h4 class="title-list-footer">Информация</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Вакансии</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Аренда автобусов</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="title-list-footer">Поддержка</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Написать вам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Возврат билета</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Бюро находок</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Вопросы и ответы</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4 class="title-list-footer">Остальное</h4>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">Агентам</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Договор оферты</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Политика конфиденциальности</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xl-3">
                <h3 class="title-col-footer">
                    Есть вопросы?
                    <br>
                    Мы вам перезвоним
                </h3>
                <div class="callback-form d-flex">
                    <div class="form-floating">
                        <input type="text" class="form-control shadow-none" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Введите ваше имя</label>
                    </div>
                    <div class="callback-form-next-step">
                        <a href="#" class="next-step-link text-center">
                            <img class="d-block" src="img/footer/next-step.svg" alt="next-step">
                            <span class="next-desc d-block">Далее</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="credits">
                    © 2020, ИП Яцунов С.П. Все права защищены.
                </span>
            </div>
            <div class="col d-flex justify-content-end">
                <ul class="socials d-flex flex-row">
                    <li class="socials-item">
                        <a href="#" class="socials-item-link">
                            <img alt="vk" src="img/footer/vk.svg">
                        </a>
                    </li>
                    <li class="socials-item">
                        <a href="#" class="socials-item-link">
                            <img alt="instagram" src="img/footer/instagram.svg">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<div class="modal fade" id="enterLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex flex-wrap">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <img class="login-img" alt="login-img" src="img/modal/login-img.png">
            </div>
            <div class="modal-body">
                <h5 class="modal-title text-center" id="exampleModalLabel">Вход</h5>
                <form>
                    <div>
                        <label for="exampleFormControlInput1" class="form-label">Эл. почта</label>
                        <div class="position-relative">
                            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Введите email">
                            <div class="mail-icon"></div>
                        </div>
                    </div>
                    <div>
                        <label for="exampleFormControlInput2" class="form-label">Пароль</label>
                        <div class="position-relative">
                            <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Введите email">
                            <div class="password-icon"></div>
                        </div>
                    </div>
                    <div class="d-grid mt-4">
                        <button type="submit" class="btn d-block">Войти</button>
                    </div>
                </form>
                <div class="d-flex justify-content-center">
                    <a href="#" class="forgot-password">Забыли пароль?</a>
                </div>
                <div class="text-center modal-bottom">
                    <span class="registration-text">Вы ещё не зарегистрированы?</span>
                    <a href="#" class="registration">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/main.min.js"></script>