<header class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a class="logo-link" href="#">
                    <img alt="logo" src="img/header/logo.png" class="logo">
                </a>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-end">
                <nav class="nav-header log-out">
                    <ul class="nav justify-content-end">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Служба поддержки</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Позвоните мне</a></li>
                                <li><a class="dropdown-item" href="#">Вопросы и ответы</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#enterLogin" href="#">Войти</a>
                        </li>
                    </ul>
                </nav>
<!--                log in user-->
                <nav class="nav-header log-in d-none">
                    <ul class="nav justify-content-end align-items-center">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownLogIn" role="button" data-bs-toggle="dropdown" aria-expanded="false">Служба поддержки</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogIn">
                                <li><a class="dropdown-item" href="#">Позвоните мне</a></li>
                                <li><a class="dropdown-item" href="#">Вопросы и ответы</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Евробаллы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Билеты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мои поездки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="navbarDropdownLogInAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img alt="avatar" class="avatar-user" src="img/header/avatar.png">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownLogInAvatar">
                                <li><a class="dropdown-item" href="#">Настройки</a></li>
                                <li><a class="dropdown-item" href="#">Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>