<header class="header-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a class="logo-link" href="#">
                    <img alt="logo" src="img/header/logo.png" class="logo">
                </a>
            </div>
            <div class="col-9 d-flex align-items-center justify-content-end">
                <nav class="nav-header">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Служба поддержки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Войти</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>