<section class="hero">
    //= header-login.html
    <div class="hero-content">
        <div class="container-fluild">
            <div class="row">
                <div class="col-12">
                    <h1 class="title-page text-center">
                        Доступные билеты на автобус от перевозчика
                    </h1>
                </div>
            </div>
            <div class="row">
                <h2 class="title-section">
                    Куда поедем?
                </h2>
            </div>
        </div>
    </div>
</section>