<section class="hero">
    //= header.html
    <div class="hero-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h1 class="title-page text-center">
                        Доступные билеты на автобус от перевозчика
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="title-section text-center">
                        Куда поедем?
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <form id="hero-form" class="search-form d-flex flex-wrap justify-content-center">
                        <div class="checkbox-form d-block w-100 text-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                                <label class="form-check-label" for="inlineRadio1">В одну сторону</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Туда-обратно</label>
                            </div>
                        </div>
<!--                        one-way-input-->
                        <div class="one-way-inputs w-100">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="dataListFrom" class="form-label">Откуда</label>
                                            <input class="form-control one-way-inputs-input shadow-none" list="datalistOptions" id="dataListFrom" placeholder="Введите название населенного пункта">
                                            <span class="card-example">
                                                Например:
                                                <span id="city-example-from" class="card-example-date city-example-from text-decoration-underline">Ставрополь</span>
                                            </span>
                                            <datalist id="datalistOptions">
                                                <option value="San Francisco">
                                                <option value="New York">
                                                <option value="Seattle">
                                                <option value="Los Angeles">
                                                <option value="Chicago">
                                            </datalist>
                                            <div id="swiper-inputs" class="swiper-inputs">
                                                <div class="swiper-inputs-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-md-0 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="datalistTo" class="form-label">Куда</label>
                                            <input class="form-control one-way-inputs-input shadow-none" list="datalistOptions" id="dataListTo" placeholder="Введите название населенного пункта">
                                            <span class="card-example">
                                                Например:
                                                <span id="city-example-to" class="card-example-date city-example-to text-decoration-underline">Москва</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-xl-0 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label class="form-label">Пассажиры</label>
                                                <img class="help-icon" alt="help" src="img/hero/help.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" >
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="count-passenger d-flex align-items-center justify-content-between flex-wrap">
                                                        <div id="minus-button-old" class="minus-button count-button disabled">-</div>
                                                        <input value="1" min="1" max="25" id="old-men" type="number" class="form-control one-way-inputs-input shadow-none" value="0" placeholder="0">
                                                        <div id="plus-button-old" class="plus-button count-button">+</div>
                                                        <span class="card-desc d-block w-100">Взрослых</span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="count-passenger d-flex align-items-center justify-content-between flex-wrap">
                                                        <div id="minus-button-adult" class="minus-button count-button disabled">-</div>
                                                        <input value="0" min="0" max="25" id="adult-men" type="number" class="form-control one-way-inputs-input shadow-none" value="0" placeholder="0">
                                                        <div id="plus-button-adult" class="plus-button count-button">+</div>
                                                        <span class="card-desc d-block w-100">Детских</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-xl-0 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="datepickerinputStart" class="form-label">Когда</label>
                                            <input type="text" class="form-control shadow-none dateStart one-way-inputs-input" id="datepickerinputStart" placeholder="Выберите дату отправления">
<!--                                            <img class="calendar-icon" alt="calendar" src="img/hero/calendar.svg">-->
                                            <span class="card-example d-block w-100">
                                                <span id="today-date-toggle" class="card-example-date today-date-toggle text-decoration-underline">Сегодня</span>
                                                /
                                                <span id="tomorrow-date-toggle" class="card-example-date tomorrow-date-toggle text-decoration-underline">Завтра</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <button id="submit-button" type="button" class="btn btn-disabled">
                                        Найти билеты
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!--                        two-way-input-->
                        <div class="two-ways-inputs w-100 d-none">
                            <div class="row flex-wrap">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl">
                                    <div class="card">
                                        <div class="card-body">
                                            <label for="dataListFrom-twoWays" class="form-label">Откуда</label>
                                            <input class="form-control two-ways-inputs-input shadow-none" list="datalistOptions" id="dataListFrom-twoWays" placeholder="Введите название населенного пункта">
                                            <span class="card-example">
                                                Например:
                                                <span id="city-example-from-twoWays" class="card-example-date city-example-from text-decoration-underline">Ставрополь</span>
                                            </span>
                                            <datalist id="datalistOptions-twoWays">
                                                <option value="San Francisco">
                                                <option value="New York">
                                                <option value="Seattle">
                                                <option value="Los Angeles">
                                                <option value="Chicago">
                                            </datalist>
                                            <div id="swiper-inputs-twoWays" class="swiper-inputs">
                                                <div class="swiper-inputs-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-4 mt-sm-0 col-sm-12 col-md-4 col-lg-4 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="dataListTo-twoWays" class="form-label">Куда</label>
                                            <input class="form-control two-ways-inputs-input shadow-none" list="datalistOptions-twoWays" id="dataListTo-twoWays" placeholder="Введите название населенного пункта">
                                            <span class="card-example">
                                                Например:
                                                <span id="city-example-to-twoWays" class="card-example-date city-example-to text-decoration-underline">Москва</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-md-0 col-md-4 col-lg-4 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <label class="form-label">Пассажиры</label>
                                                <img class="help-icon" alt="help" src="img/hero/help.svg" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" >
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="count-passenger d-flex align-items-center justify-content-between flex-wrap">
                                                        <div id="minus-button-old-twoWays" class="minus-button count-button disabled">-</div>
                                                        <input value="1" min="1" max="25" id="old-men-twoWays" type="number" class="form-control two-ways-inputs-input shadow-none" value="0" placeholder="0">
                                                        <div id="plus-button-old-twoWays" class="plus-button count-button">+</div>
                                                        <span class="card-desc d-block w-100">Взрослых</span>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <div class="count-passenger d-flex align-items-center justify-content-between flex-wrap">
                                                        <div id="minus-button-adult-twoWays" class="minus-button count-button disabled">-</div>
                                                        <input value="0" min="0" max="25" id="adult-men-twoWays" type="number" class="form-control two-ways-inputs-input shadow-none" value="0" placeholder="0">
                                                        <div id="plus-button-adult-twoWays" class="plus-button count-button">+</div>
                                                        <span class="card-desc d-block w-100">Детских</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-xl-0 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="datepickerinputStart-twoWays" class="form-label">Когда</label>
                                            <input type="text" class="form-control shadow-none dateStart two-ways-inputs-input" id="datepickerinputStart-twoWays" placeholder="Выберите дату отправления">
<!--                                            <img class="calendar-icon" alt="calendar" src="img/hero/calendar.svg">-->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 mt-4 mt-xl-0 col-md-6 col-lg-6 col-xl">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <label for="datepickerinputFinish-twoWays" class="form-label">Обратно</label>
                                            <input type="text" class="form-control shadow-none dateEnd two-ways-inputs-input" id="datepickerinputFinish-twoWays" placeholder="Выберите дату отправления">
<!--                                            <img class="calendar-icon" alt="calendar" src="img/hero/calendar.svg">-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col d-flex justify-content-center align-items-center">
                                    <button id="submit-button-twoWays" type="button" class="btn btn-disabled">
                                        Найти билеты
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>