<link rel="stylesheet" href="../../build/css/main.min.css">
<section class="registration-hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col d-flex flex-wrap align-items-center">
                <h2 class="title-section">Оплачивайте билеты за евробаллы</h2>
                <p class="desc-section mb-4 mb-md-0">Регистрируйся на нашем сайте и получай евробаллы за каждую поездку</p>
            </div>
            <div class="col d-flex align-items-center">
                <a href="#" class="registration-hero-button d-inline-block">
                    Зарегистрироваться
                </a>
            </div>
        </div>
    </div>
</section>